# Visual Studio build files
.vscode/
*.code-workspace
*.vcxproj.user
*.suo
*.idb
*.pdb
*.obj
*.tlog
*.ipch
*.cache
*.ilk
*.log
*.exp
*.exe
*.dll
*.lib
*.tmp
*.o
*.pch
*.rsp

# Visual Studio temporary files
.vs/
.vscode/
.idea/

# Windows specific files
Thumbs.db
desktop.ini

# 忽略編譯和臨時文件夾
Debug/
Release/
x64/
